

/* Style for the container */


.menu-container{
  margin-right: 100px;
  align-items: right;
}

.menu-image {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: #0c075242;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    
  }
  
  /* Header style */
  .menu-image h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Form group styles */
  .menu-form-group {
    margin-bottom: 13px;
  }
  
  .menu-form-group label {
    font-weight: bold;
    margin-bottom: 6px;
    display:flex;
  }
  
  .menu-form-group input {
    align-items: center;
    width: 70%;
    padding: 5px;
    border: 2px solid #4b262631;
    border-radius: 4px;
  }

  .menu-form-group input::placeholder {
    color: rgba(191, 139, 62, 0.353);
  }
  
  /* Button style */
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Alert styles */
  .alert {
    margin-bottom: 20px;
  }
  