.header {
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.459);
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(54, 5, 86, 0.321);
    z-index: 1000;
    height: 95px;
    
  }
  
  
  
  .logo {
    max-width: 100%;
    height: auto
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
  }
  
  .user-icon,
  .account-link,
  .logout-link {
    font-size: 1.5rem;
    color: black;
  }
  
  
  
  .event-link {
    position: relative;
    font-size: 1.5rem;
    color: black;
  }
  
  .event-count {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background-color: #1E3A8A;
    color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


.sidebarSection {
   position:fixed;
    border: 1px solid  #2d064f44;
    width:  200%;
    max-width: 10%;
    height: 100vh;
    margin-top: -1px;
   
    margin-left: -8%;
    padding-top: 20px;
    background-color: #591c8532;
}

.sidebarSection ul li{
list-style: none;
margin-bottom: 20px;
font-weight: 500;
font-size: medium;
cursor: pointer;
}


.sidebar-text {
  font-size: 18px;
  color: #6c757d;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin-top: 200px;
  margin-left: 300px;
}


 .container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.containerStyle{
 margin-top: 120px;

} 


.contentSection{
  margin-left: 200px;
}





.dashboard {
  position: relative;
  min-height: 100vh;
  background-image: url('../src//assets/caterer-dashboard.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -16px;
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}


body {
  margin: 0;
  padding: 0;
  position: relative; 
}

